altgraph==0.17.4
beautifulsoup4==4.13.4
Brotli
bs4==0.0.2
certifi
charset-normalizer
filelock
gmpy2
idna
iniconfig==2.1.0
Jinja2
MarkupSafe
mkl-service==2.4.2
mkl_fft
mkl_random
mpmath
networkx
numpy
packaging==24.2
pillow
pluggy==1.5.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PySocks
pytest==8.3.5
PyYAML
requests
soupsieve==2.7
StrEnum==0.4.15
sympy
tqdm==4.67.1
typing_extensions
urllib3
